{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
	<form action="/write_post" id="post-form" method="post" name="ctgory">
		<div class="input-group">
			<label for="post-title">제목</label><br/>
			<input type="text" id="post-title" name="title" required autofocus>
		</div>
		<div class="input-group">
			<label for="post-category">카테고리</label><br/>
			<select name="category_sel" id="category_sel" onchange="value_change()">
				<option value="">카테고리 선택</option>
				{% for category in categories %}
				<option value="{{category.category}}">{{category.category}}</option>
				{% endfor %}
				<option value="direct">직접 입력</option>
			</select>
			<input type="text" id="category" name="category" disabled/>
		</div>
		<div class="input-group">
			<label for="post-content">내용</label><br/>
			<textarea id="post-content" name="content" placeholder="내용을 입력하세요"></textarea>
		</div>
		<button id="join-btn" class="btn" type="submit">
			작성 완료
		</button>
	</form>
</div>
<script>
	function value_change(){
		if(document.ctgory.category_sel.options[document.ctgory.category_sel.selectedIndex].value == 'direct'){
			document.ctgory.category.disabled = false;
			document.ctgory.category.value = "";
			document.ctgory.category.focus();
		} else{
			document.ctgory.category.disabled = true;
			document.ctgory.category.value = document.ctgory.category_sel.options[document.ctgory.category2.selectedIndex].value;
		}
	}
</script>
{% endblock %}